.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background-color: #f2f2f2; */
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
}

.grid {
  display: flex;
  width: 100vw;
  gap: 2rem;
  overflow: hidden;
}

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  width: 300px;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 8px;
}

.footer {
  margin-top: 8px;
}

.footer button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #0056b3;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselInner {
  display: flex;
}

.carouselItem {
  display: none;
}

.carouselItem.active {
  display: block;
}

.prevButton,
.nextButton {
  /* Your button styles */
}
