.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbarContainer {
  display: flex;
  align-items: center;
  padding: 8px;
  /* background: ; */
  /* color: white; */
  font-family: Helvetica;
  font-weight: 300;
  height: 100%;
  width: 100%;
}
.navbarItems {
  display: flex;
  width: 80%;
  justify-content: center;
}
.navbarItemsBlock {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  width: 100%;
  justify-content: space-between;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  width: 20%;
  min-width: 180px;
}

.navbar__item {
  padding: 16px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  color: var(--secondary);
  font-weight: 600;
  min-width: fit-content;
}
.navbar__button {
  background-color: aliceblue;
  color: var(--secondary);
  align-items: center;
  display: flex;
  padding: 16px;
  border-radius: 24px;
  text-decoration: none;
  font-weight: 600;
}
.hamburgerMenu {
  display: none;
  padding: 16px;
}
.dropdownItem {
  border: 1px solid;
  width: 200px;
  height: 24px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.menu {
  height: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .navbarItems {
    background-color: red;
    display: none;
  }
  .navbarItemsBlock {
    background-color: blue;
    display: none;
  }
  .hamburgerMenu {
    display: block;
    cursor: pointer;
    height: 100%;
    justify-content: unset;
    /* width: 10%; */
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .navbarContainer {
    width: 70%;
  }
}
