.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  background-color: white;
  width: 100%;
  max-width: 600px;
  padding: 15px;
}

.title {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 2px;
}

.inputContainer {
  margin-top: 55px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

.helperText {
  opacity: 0.5;
  cursor: pointer;
}

.errorMessage {
  color: red;
}

.linkContainer {
  margin-top: 1.5em;
}

.forgotPasswordLink {
  opacity: 0.5;
  cursor: pointer;
}

.buttonContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
